@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 73%;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 70%;
  }
}
